.form_containeur {
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #9e8a58;
  border-radius: 20px;
  background-color: #313131;
  max-width: 1440px;
}

button.is-warning.is-light {
  margin: 10px 0 0 0;
}

.label_name {
  margin-bottom: 0.4rem;
}

.form_div {
  margin-bottom: 20px;
}

.contact_input,
.contact_text-area {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; /* Pour inclure le padding dans la largeur */
}

.contact_text-area {
  height: 100px;
}
