.tracks-containeur {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.tracks-list {
  border: 4px solid #9e8a58;
  border-radius: 20px;
}

.tracks-list p {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0.5rem;
  font-size: 1.1rem;
  width: 100%;
}

.tracks-list p span {
  display: flex;
  font-weight: bold;
}
